@font-face {
  font-family: "Manrope";
  font-style: normal;
  src: local("Manrope"), url(../assets/fonts/manrope/static/Manrope-Regular.ttf),
    format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf),
    format("truetype supports variations");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: bold;
  src: url(../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf),
    format("truetype");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url(../assets/fonts/fraunces/Fraunces-VariableFont.ttf),
    format("truetype supports variations");
  font-weight: 300, 400, 600;
  font-display: swap;
}

body {
  margin: 0;
}

p {
  margin-block: 0;
}
