.landing__heading-hero-container {
  display: flex;
  flex-direction: column;
  background-color: #24053e;
  color: white;
  border-bottom-right-radius: 140em 20em;
  border-bottom-left-radius: 140em 20em;
}

.landing__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope";
}

.landing__logo,
.landing__access-link {
  padding: 2em 1em;
}

.landing__access-link {
  color: white;
  text-underline-offset: 0.625em;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 0.3125em;
  font-weight: 700;
  font-size: 1em;
  line-height: 2em;
}

.landing__hero-container {
  display: flex;
  flex-direction: column;
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 3.125em;
  margin: 1em 0 0.5em 0;
  justify-content: center;
  align-items: center;
}

.landing__hero-title {
  text-align: center;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 0.0325em;
  text-underline-offset: 0.1em;
  text-decoration-color: #44ffa1;
}

.landing__learn-more-btn {
  margin: 2em 0;
  width: 50%;
  padding: 1em;
  background-color: #44ffa1;
  color: #24053e;
  cursor: pointer;
}

.landing__hero-image {
  margin: 0px auto -4em auto;
  width: 80%;
}
